﻿<%@ Page Title="" Language="C#" MasterPageFile="~/home.Master" AutoEventWireup="true" CodeBehind="Eval_indicador.aspx.cs" Inherits="Prueba1.Eval_indicador" %>
<%@ Register assembly="Telerik.Web.UI" namespace="Telerik.Web.UI" tagprefix="telerik" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <%--<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Agregar Indicador</h3>
              </div>
             <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                              <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">    
                       <telerik:RadAjaxPanel ID="RadAjaxPanel1" runat="server" height="200px" width="963px">
                           <telerik:RadGrid ID="RadGrid1" runat="server" AutoGenerateColumns="False" Culture="es-ES" DataSourceID="EDS_periodos" CellSpacing="-1" GridLines="Both">
                               <GroupingSettings CollapseAllTooltip="Collapse all groups" />
                               <MasterTableView DataKeyNames="id" DataSourceID="EDS_periodos">
                                   <Columns>
                                       <telerik:GridBoundColumn DataField="id" DataType="System.Int32" FilterControlAltText="Filter id column" HeaderText="id" ReadOnly="True" SortExpression="id" UniqueName="id">
                                       </telerik:GridBoundColumn>
                                       <telerik:GridBoundColumn DataField="nombre" FilterControlAltText="Filter nombre column" HeaderText="nombre" SortExpression="nombre" UniqueName="nombre">
                                       </telerik:GridBoundColumn>
                                       <telerik:GridBoundColumn DataField="id_periodic" DataType="System.Int32" FilterControlAltText="Filter id_periodic column" HeaderText="id_periodic" SortExpression="id_periodic" UniqueName="id_periodic">
                                       </telerik:GridBoundColumn>
                                   </Columns>
                               </MasterTableView>
                           </telerik:RadGrid>


                           <asp:EntityDataSource ID="EDS_periodos" runat="server" ConnectionString="name=seguimientoEntities" DefaultContainerName="seguimientoEntities" EnableDelete="True" EnableFlattening="False" EnableInsert="True" EnableUpdate="True" EntitySetName="periodos">
                           </asp:EntityDataSource>


                           </telerik:RadAjaxPanel>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
        </div>--%>
</asp:Content>
